.Tag {
	gap: 10px;
	padding: 4px 8px;
	font-family: "Archivo", sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 3%;
	background: #e5d4f0;
	border-radius: 32px;
	margin: 0 4px;
}

.first {
	margin-left: 0;
}
