@import "../../../shared/styles/colors";
@import "../../../shared/styles/shadows";

.ProjectCard {
	background: $white;
	border-radius: 16px;
	padding: 16px;
	gap: 8px;
	margin: 16px;
	box-shadow: $card-shadow;

	.header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		border-bottom: 2px solid $text-color;

		h3 {
			flex: 4;
			font-weight: 700;
			font-size: 24px;
			margin: 5px 0;
		}
	}

	.tags {
		margin: 16px 0;
		display: flex;
		align-items: center;
	}
}
