@import "../../shared/styles/colors";
.ProjectPage {
	.top {
		padding: 16px;
	}

	h1 {
		padding-left: 0;
	}

	h3 {
		width: 100%;
		border-bottom: 1px solid $text-color;
		margin-bottom: 24px;
	}

	.mid {
		margin-top: 32px;
		background: $text-color;
		color: $white;

		.midContent {
			padding: 20px;
		}

		h3 {
			border-bottom: 1px solid $white;
			padding-bottom: 10px;
		}
	}

	.bottom {
		padding: 16px;

		h3 {
			border-bottom: none;
		}

		h6 {
			font-size: 1.1rem;
			margin: 0;
		}
	}
}
